#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  align-items: center;
}
#sended-message {
  text-align: center;
  background-color: rgb(87, 149, 87);
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email-form form {
  text-align: center;
}

.email-form {
  width: 500px;
  margin: 0 auto;

  label {
    text-align: left;
    float: left;
  }

  input {
    float: right;
    width: 200px;
  }
  textarea {
    float: right;
    width: 202px;
  }
  .button {
    width: auto;
    padding: 5px 20px;
    margin-top: 50px;
  }
}
